body {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Roboto";
  width: 100%;
}

header {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 20px 0px;
}
header .fa-arrow-left {
  height: 100%;
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}
header img {
  width: 50%;
}

.fa-map-marker-alt {
  width: 100%;
  display: flex !important;
  justify-content: flex-end;
  padding-right: 4%;
  font-size: 1rem;
}

.form {
  background: #f6f6f6;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
}
.form__search {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  background: linear-gradient(to top, #eaeaea 90%, #d5d5d5);
  border-top: 2px solid #d5d5d5;
}
.form__search--icon {
  width: 40%;
  display: flex;
  align-items: center;
  height: 100%;
}
.form__search--input {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.form__heading {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 44px;
}
.form__heading h2 {
  height: 50%;
}
.form__heading p {
  height: 50%;
  margin-bottom: 0px;
}
.form__btn {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__btn input {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  transition: background-color 400ms;
  border-radius: 100px/100px;
  display: flex;
  align-content: center;
  color: white;
  padding: 10px 32px;
  font-size: 1rem;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  width: auto;
}
.form__btn input:hover {
  opacity: 0.8;
  transition: opacity 300ms, box-shadow 300ms;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.4);
}

input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  text-align: left;
  font-family: "Roboto";
  font-size: 1rem;
}

.usings {
  width: 100%;
  height: 50vh;
}
.usings h2 {
  display: flex;
  align-items: center;
  margin: 10px 20px 0px 20px;
  height: 20%;
}

.steps {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33.3%;
  width: 90%;
  border-radius: 20px;
  margin: 10px 0px;
  background: #f6f6f6;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}
.steps .step__label {
  display: flex;
  flex-direction: row;
}
.steps .step__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: -10px;
  color: white;
  background: #9356dc;
}
.steps .step__label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.steps .step--color {
  background: #f2eafb;
}
.steps .step--color--icon {
  color: #9356dc;
}

.step__label--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  color: #6e6e6e;
}
.step__label--icon p {
  width: 100%;
  text-align: left;
}

.restaurant {
  width: 100%;
  background: #f6f6f6;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 40px;
}
.restaurant h2 {
  margin: 10px 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container a {
  width: 100%;
  text-decoration: none;
  color: black;
  position: relative;
  border: 1px solid #f6f6f6;
}

.card {
  box-sizing: border-box;
  width: 100%;
  height: 40vh;
  min-height: 40vw;
  border-radius: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  margin: 10px 20px;
}
.card__picture {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}
.card__picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card__picture--tag {
  position: absolute;
  top: 14px;
  right: 14px;
  background: #99e2d0;
  font-weight: 500;
  padding: 5px 10px;
}
.card .card-info {
  display: flex;
  flex-direction: row;
  height: 30%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 6px;
}
.card .card-info h4 {
  margin: 0px;
  font-weight: 700;
  font-size: 1.1rem;
}
.card .card-info p {
  margin: 0px;
  font-weight: 300;
  font-size: 1rem;
  white-space: nowrap;
}
.card .card-info__title {
  width: 80%;
}
.card .card-info__like {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card .card-info__like--active {
  position: absolute;
  right: 50%;
}
.card .card-info__like--disable {
  position: absolute;
  right: 50%;
  color: transparent;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 1.4rem;
  font-weight: 400;
  margin: 10px 0px;
}
footer .container-footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
footer .footer-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer-element__icon {
  font-size: 1rem;
  width: 25px;
}
footer .footer-element p {
  margin-left: 5px;
  margin: 5px 0px 5px 0px;
}
footer a {
  color: white;
  text-decoration: none;
  margin: 5px 0px 5px 0px;
}
footer p {
  font-size: 1rem;
  margin: 5px 0px 5px 0px;
}

.container__picture {
  width: 100%;
  position: relative;
}
.container__picture img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.container-order {
  box-sizing: border-box;
  background-color: #f6f6f6;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
  margin-top: -30px;
  border-radius: 30px 30px 0px 0px;
}

.menu__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Shrikhand";
  font-weight: 400;
  width: 100%;
}
.menu__heading h2 {
  width: 80%;
  margin: 0px;
}
.menu__heading--icon {
  width: 20%;
  padding: 0px 20px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.container-menu {
  width: 100%;
}
.container-menu h3 {
  padding-left: 10px;
  font-weight: 300;
}

.card-price {
  width: 10%;
  font-weight: 500;
}

.card-menu {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  margin: 10px 0px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.card-info__title {
  width: 90%;
  padding: 10px;
}
.card-info__title h4 {
  margin: 0px;
  font-weight: 700;
  font-size: 1.1rem;
}
.card-info__title p {
  margin: 0px;
  font-weight: 300;
  font-size: 1rem;
  white-space: nowrap;
}
.card-info__price {
  font-weight: 500;
  width: 10%;
  text-align: center;
  padding: 10px;
}
.card-info__price p {
  margin: 0px;
}

.card-info__animation {
  display: none;
  background-color: #99e2d0;
  height: 100%;
}
.card-info__animation .fa-check-circle {
  color: white;
}

.form__btn {
  width: 100%;
}
.form__btn input {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  transition: background-color 400ms;
  border-radius: 100px/100px;
  display: flex;
  align-content: center;
  color: white;
  padding: 10px 32px;
  font-size: 1rem;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  width: auto;
}
.form__btn input:hover {
  opacity: 0.8;
  transition: opacity 300ms, box-shadow 300ms;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.4);
}
.form__btn .btn {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
