@mixin large-devices {
  @media screen and (min-width: map-get($breakpoints, tab)) {
    @content;
  }
}

@mixin medium-devices {
  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tab)) {
    @content;
  }
}

@mixin btn {
  input {
    background: $color-btn;
    transition: background-color 400ms;
    border-radius: 100px / 100px;
    display: flex;
    align-content: center;
    color: white;
    padding: 10px 32px;
    font-size: 1rem;
    box-shadow: $box-shadow;
    width: auto;
    &:hover {
      opacity: 0.7;
      transition: opacity 300ms, box-shadow 300ms;
      box-shadow: 0px 0px 11px rgb(0 0 0 / 40%);
    }
  }
}

@mixin card-info {
  & h4 {
    margin: 0px;
    font-weight: 700;
    font-size: 1.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  & p {
    margin: 0px;
    font-weight: 300;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@mixin card-info__like {
  & :hover {
    display: block;
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin services_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
